{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/erp.css" %}">
    <script src="{% static 'javaScript/script.js' %}"></script>
</head>
<body>
    <header>
        <div><!-- Div vacio --></div>
        <div class="hContenido">
            <div class="izquierda">
                <a href="{% url 'login' %}">
                    <img src="{% static 'img/Logo.png' %}" style="width: 50%">
                </a>            
                <h1>Restaurant M</h1>
            </div>
            <div class="derecha">
                <div class="hCentro">
                    <img src="{% static 'img/user.jpg' %}" class="usuario"><br>
                    <label>Gerente: {{ nombre_gerente }}</label>
                </div>
            </div>
        </div>
        <div><!-- Div vacio --></div>
    </header>
    <div style="height:40px"> <!-- Div vacio --> </div>
    <div class="contenido">
        <div class="modulos">
            <!-- Div de las opciones disponibles -->
            <div class="centro">
                <h2>Módulos</h2>
            </div>
            <div onclick="window.location.href='{% url 'index' %}'" style="cursor: pointer;" class="opModulo">
                <label>Recursos Humanos</p>
            </div>
            <div class="opModulo">
                <label>Inventario</p>
            </div>
            <div class="opModulo">
                <label>Ventas</p>
            </div>
            <div class="opModulo">
                <label>Contabilidad</p>
            </div>
            <div class="opModulo">
                <label>Clientes y Proveedores</p>
            </div>
        </div>
        <div class="cuerpo">
            <h2 class="subLinea">{{ nomRes }}</h2>
        </div>
    </div>
</body>
</html>

