{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mirar planes</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %}">
    <script src="{% static 'javaScript/script.js' %}"></script>
</head>
<body>
    <header>
        <div><!-- Div vacio --></div>
        <div id="cont_header">
            <a href="{% url 'login' %}">
                <img src="{% static 'img/Logo.png' %}" style="width: 50%">
            </a>            
            <h1>Restaurant M</h1>
        </div>
        <div><!-- Div vacio --></div>
    </header>
    <div style="height:20px"> <!-- Div vacio --> </div>
    <div class="cuerpo_P">
        <div><!-- Div de margen --></div>
        <div id="contenido_P">
            <h1>Planes disponibles</h1>
            <!-- Div de los planes -->
            <div id="planes">
                <div><!-- Div de margen --></div>
                <!-- Div del primer plan -->
                <div class="plan">
                    <h2>Prueba Gratuita</h2>
                    <img src="{% static 'img/jodido.jpg' %}" style="height: 200px;">
                    <p>Gratuito<br>Sin ningún cobro</p>
                    <ul>
                        <li>5 Principales módulos</li>
                        <li>Personalización básica</li>
                        <li>Actualizaciones mensuales</li>
                        <li>Nulo soporte</li>
                    </ul>
                    <a href="{% url 'registro' %}">
                        <button type="submit">Iniciar</button><br>
                    </a>
                </div>
                <div><!-- Div de margen --></div>
                <!-- Div del segundo plan -->
                <div class="plan">
                    <h2>Versión estandar</h2>
                    <img src="{% static 'img/maso.jpg' %}" style="height: 200px;">
                    <p>$30.000<br>Cobro mensual</p>
                    <ul>
                        <li>Ácceso a 8 módulos</li>
                        <li>Personalización</li>
                        <li>Actualizaciones semanales</li>
                        <li>Soporte primeros días</li>
                    </ul>
                    <button type="submit" onclick="sinProgramar()">No disponible</button><br>
                </div>
                <div><!-- Div de margen --></div>
                <!-- Div del tercer plan -->
                <div class="plan">
                    <h2>Versión premiun</h2>
                    <img src="{% static 'img/rico.jpg' %}" style="height: 200px;">
                    <p>$50.000<br>Cobro mensual</p>
                    <ul>
                        <li>Acceos ilimitado a los módulos</li>
                        <li>Plantillas de personalización</li>
                        <li>Actualizaciones semanales</li>
                        <li>Soporte sin limites</li>
                    </ul>
                    <button type="submit" onclick="sinProgramar()">No disponible</button><br>
                </div>
                <div><!-- Div de margen --></div>
            </div>
            <br>
            <a href="{% url 'login' %}">
                <button type="submit" href="{% url 'login' %}">Volver</button><br>
            </a>
        </div>
        <div><!-- Div de margen --></div>
    </div>
    <div style="height: 20px"><!-- Div vacio  --></div>
    <div class="cuerpo_P">        
        <div></div>        
        <div id="informar">
            <div><!-- Div de margen --></div>  
            <a href="#">¿Tienes algún problemas para iniciar?</a>
            <div><!-- Div de margen --></div>
        </div> 
        <div></div>
    </div>
</body>
</html>