{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %}">
    <script src="script.js"></script>
</head>
<body>
    <header>
        <div><!-- Div vacio --></div>
        <div id="cont_header">
            <a href="{% url 'login' %}">
                <img src="{% static 'img/Logo.png' %}" style="width: 50%">
            </a>            
            <h1>Restaurant M</h1>
        </div>
        <div><!-- Div vacio --></div>
    </header>
    <!-- Espaciado -->
    <div style="height:20px"> <!-- Div vacio --> </div>
    <div class="cuerpo">
        <div><!-- Div de margen --></div>
        <div id="contenido">
            <div><!-- Div de margen --></div>          
            <form method="post">
                {% csrf_token %}
                <h2>Inico de sesión</h2>
                <div>
                    <label for="id_email">Correo electrónico:</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div style="color: red;">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="id_password">Contraseña:</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div style="color: red;">{{ form.password.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit">Iniciar Sesión</button><br>
                {% if message %}
                    <p style="color:red;">{{ message }}</p>
                {% endif %}
                <div style="height:10px"> <!-- Div vacio --> </div>
                <a href="{% url 'planes' %}">¿No tienes una cuenta?</a>
                <div style="height:20px"> <!-- Div vacio --> </div>
            </form>
            <hr id="vertical">
            <!-- Div de la imagen-->
            <div>
                <br>
                <img src="{% static 'img/restaurante.jpg' %}" style="width:100%">
                <div style="height:15px"></div>
            </div>              
        </div>
        <div><!-- Div de margen --></div>                
    </div>
    <div style="height: 20px"><!-- Div vacio  --></div>
    <div class="cuerpo">        
        <div></div>        
        <div id="informar">
            <div><!-- Div de margen --></div>  
            <a href="#">¿Tienes algún problemas para iniciar?</a>
            <div><!-- Div de margen --></div>
        </div> 
        <div></div>
    </div>
</body>
</html>