body {
    background-color: rgb(192, 192, 27);
    /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/fondo.jpg');*/
    background-size: cover;
}

header{
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

#cont_header{    
    background-color: rgb(255, 255, 241);
    border-radius: 10px;
    display: flex;
}

.cuerpo{
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

#contenido{
    background-color: rgb(255, 255, 241);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5% 42.5% 5% 42.5% 5%;
}

.cuerpo_P{
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#contenido_P{
    text-align: center;
    background-color: rgb(255, 255, 241);
    border-radius: 10px; 
}

#planes{
    display: grid;
    grid-template-columns: 4% 28% 4% 28% 4% 28% 4%;
}

.plan{
    border: 1px solid #ccc;
    border-radius: 4px;
}

#vertical{
    height: 90%;
    width: 2px;
    background-color: rgb(199, 208, 209);
}

#informar{
    background-color: rgb(255, 255, 241);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

#sep_img{
    display: grid;
    grid-template-rows: 5% 90% 5%;
}

input[type="password"],
input[type="email"],
input[type="text"],
textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    width: 90%;
    padding: 8px;
    margin-bottom: 12px;
    background-color: #f3ca5a;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #f3bf31;
}

a{
    margin-top: 5px;
    margin-bottom: 5px;
}

ul{
    text-align: left;
}