body {
    background-color: #FFE082;
}

header{
    display: grid;
    grid-template-columns: 2.5% 95% 2.5%;
    height: 50px;
}

.hContenido{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #FFFFE0;
    border-radius: 10px;
}

.usuario{
    width: 50px;
    border-radius: 50%;
}

.izquierda{
    display:flex;
    text-align: left;
    padding-left: 5px;
}

.derecha{
    text-align: right;
}

.hCentro{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.centro{
    text-align: center;
    padding: 5px;
}

.contenido{
    display:grid;
    background-color: #FFFFE0;
    grid-template-columns: 15% 85%;
}

.modulos{
    background-color: #F1F0EF;
    border-right: 2px solid lightgray;
    padding-left: 5px;
}

.opModulo{
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    padding: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.opModulo:hover{
    background-color: #E3E0DE;
}

.cuerpo{
    padding: 10px;
}

.opContenido{
    display: none;
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    cursor: pointer;
}

.opContenido:hover{
    background-color: #E3E0DE;
}

.formulario{
    display: none;
    padding: 10px;
}

.granFormulario{
    padding-left: 25px;
    padding-right: 25px;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    width: 90%;
    padding: 8px;
    margin-bottom: 12px;
    background-color: #f3ca5a;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f3bf31;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #101010;
}

th {
    background-color: #FFE989;
}
