body {
    background-color: #FFE082;
}

header{
    display: grid;
    grid-template-columns: 2.5% 95% 2.5%;
    height: 50px;
}

.hContenido{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #FFFFE0;
    border-radius: 10px;
}

.usuario{
    width: 50px;
    border-radius: 50%;
}

.izquierda{
    display:flex;
    text-align: left;
    padding-left: 5px;
}

.derecha{
    text-align: right;
}

.hCentro{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.centro{
    text-align: center;
    padding: 5px;
}

.contenido{
    display:grid;
    background-color: #FFFFE0;
    grid-template-columns: 15% 85%;
}

.modulos{
    background-color: #F1F0EF;
    border-right: 2px solid lightgray;
    padding-left: 5px;
}

.opModulo{
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    padding: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.opModulo:hover{
    background-color: #E3E0DE;
}

.cuerpo{
    padding: 10px;
}

.opContenido{
    display: none;
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}

.opContenido:hover{
    background-color: #E3E0DE;
}
